discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus
discord.py==2.1.0
discord.py-paginator
DiscordUtils
dnspython
motor
python-dotenv
motor
humanfriendly
dnspython
dateutil
stringcase
unidecode
pytz
grapheme
emoji